In [1]:
# Here we will be focusing on Global Covid-19 data so below 3 files will be focuse from the datset

In [2]:
import pandas as pd
import numpy as np

In [3]:
confirmed_df = pd.read_csv("C:\\Users\\harsh\\OneDrive\\Desktop\\Data Sets\\Covid-19\\time_series_covid_19_confirmed.csv")
deaths_df = pd.read_csv("C:\\Users\\harsh\\OneDrive\\Desktop\\Data Sets\\Covid-19\\time_series_covid_19_deaths.csv")
recovered_df = pd.read_csv("C:\\Users\\harsh\\OneDrive\\Desktop\\Data Sets\\Covid-19\\time_series_covid_19_recovered.csv")

confirmed_df.info()
deaths_df.info()
recovered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Columns: 498 entries, Province/State to 5/29/21
dtypes: float64(2), int64(494), object(2)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Columns: 498 entries, Province/State to 5/29/21
dtypes: float64(2), int64(494), object(2)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Columns: 498 entries, Province/State to 5/29/21
dtypes: float64(2), int64(494), object(2)
memory usage: 1015.6+ KB

In [4]:
confirmed_df.head(1)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111

In [5]:
deaths_df.head(1)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2772,2782,2792,2802,2812,2836,2855,2869,2881,2899

In [6]:
recovered_df.head(1)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281

In [7]:
# Reshape the data into long format
confirmed_long = pd.melt(confirmed_df, id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
                         var_name="Date", value_name="Confirmed")
deaths_long = pd.melt(deaths_df, id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
                      var_name="Date", value_name="Deaths")
recovered_long = pd.melt(recovered_df, id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
                         var_name="Date", value_name="Recovered")

In [8]:
confirmed_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136344 entries, 0 to 136343
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  42484 non-null   object
 1   Country/Region  136344 non-null  object
 2   Lat             135356 non-null  float64
 3   Long            135356 non-null  float64
 4   Date            136344 non-null  object
 5   Confirmed       136344 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 6.2+ MB

In [9]:
# Convert 'Date' to datetime format
confirmed_long['Date'] = pd.to_datetime(confirmed_long['Date'])
deaths_long['Date'] = pd.to_datetime(deaths_long['Date'])
recovered_long['Date'] = pd.to_datetime(recovered_long['Date'])

C:\Users\harsh\AppData\Local\Temp\ipykernel_24444\1523984407.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  confirmed_long['Date'] = pd.to_datetime(confirmed_long['Date'])
C:\Users\harsh\AppData\Local\Temp\ipykernel_24444\1523984407.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  deaths_long['Date'] = pd.to_datetime(deaths_long['Date'])
C:\Users\harsh\AppData\Local\Temp\ipykernel_24444\1523984407.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  recovered_long['Date'] = pd.to_datetime(recovered_long['Date'])

In [10]:
confirmed_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136344 entries, 0 to 136343
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  42484 non-null   object
 1   Country/Region  136344 non-null  object
 2   Lat             135356 non-null  float64
 3   Long            135356 non-null  float64
 4   Date            136344 non-null  datetime64[ns]
 5   Confirmed       136344 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 6.2+ MB

In [11]:
# Merge the datasets on common columns (Country/Region, Date)
merged_df = pd.merge(confirmed_long, deaths_long, on=["Province/State", "Country/Region", "Date","Lat","Long"], how="outer")
merged_df = pd.merge(merged_df, recovered_long, on=["Province/State", "Country/Region", "Date","Lat","Long"], how="outer")

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139308 entries, 0 to 139307
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  43472 non-null   object
 1   Country/Region  139308 non-null  object
 2   Lat             138320 non-null  float64
 3   Long            138320 non-null  float64
 4   Date            139308 non-null  datetime64[ns]
 5   Confirmed       136344 non-null  float64
 6   Deaths          136344 non-null  float64
 7   Recovered       128934 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 8.5+ MB

In [13]:
merged_df.isnull().sum()

Province/State    95836
Country/Region        0
Lat                 988
Long                988
Date                  0
Confirmed          2964
Deaths             2964
Recovered         10374
dtype: int64

In [14]:
# Check column names to confirm the columns exist

# Fill missing values with 0 for the 'Confirmed', 'Deaths', and 'Recovered' columns only
merged_df['Confirmed'] = merged_df['Confirmed'].fillna(0)
merged_df['Deaths'] = merged_df['Deaths'].fillna(0)
merged_df['Recovered'] = merged_df['Recovered'].fillna(0)

In [15]:
merged_df.isnull().sum()

Province/State    95836
Country/Region        0
Lat                 988
Long                988
Date                  0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [16]:
merged_df = merged_df.drop(columns=["Province/State"])

In [17]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139308 entries, 0 to 139307
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country/Region  139308 non-null  object
 1   Lat             138320 non-null  float64
 2   Long            138320 non-null  float64
 3   Date            139308 non-null  datetime64[ns]
 4   Confirmed       139308 non-null  float64
 5   Deaths          139308 non-null  float64
 6   Recovered       139308 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 7.4+ MB

In [18]:
merged_df.isnull().sum()

Country/Region      0
Lat               988
Long              988
Date                0
Confirmed           0
Deaths              0
Recovered           0
dtype: int64

In [19]:
merged_df.to_csv("C:\\Users\\harsh\\OneDrive\\Desktop\\Data Sets\\Covid-19\\merged_covid_data.csv")